.dropzone-container {
    margin: 10px auto auto auto;
    width: 90%;
    height: 65%;
}

.dropzone {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px dashed var(--ion-color-tertiary);
    /* background-color: var(--ion-color-tertiary); */
    border-radius: 20px;
    background-color: var(--ion-color-secondary);
}

.dropzone > * {
    position: relative;
    flex: 1;
    vertical-align: center;
}

.dropzone-container :hover {
    cursor: pointer;
}