ion-toolbar {
  --background: linear-gradient(90deg, var(--ion-color-primary) 0%, var(--ion-color-secondary) 50%, var(--ion-color-tertiary) 100%);
}

ion-title {
  --color: var(--ion-color-light);
}

ion-icon {
  color: var(--ion-color-dark);
}