ion-searchbar.custom {
  --background: var(--ion-color-light);
  --color: var(--ion-color-dark-shade);
  --placeholder-color: var(--ion-color-dark);
  --icon-color: var(--ion-color-dark);
  --clear-button-color: var(--ion-color-dark);

  --border-radius: 8px;
}